#map {
    background-color: #000000;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:500px;
}

.ol-zoom button {
    background: rgba(40, 40, 40, 0.8);
}

.ol-zoom button:hover {
    background: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
}

#info-box {
    position: absolute;
    top: 1em;
    right: 3em;
    padding: 1em;
    background: rgba(40, 40, 40, 0.8);
    font: 400 14px "helvetica",sans-serif;
    color: rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    z-index: 999;
}

.date {
    font: 400 14px "helvetica",sans-serif;
    padding: 0.2em 0.5em;
    margin: 0.2em;
    /*background-color: rgba(40, 40, 40, 0.8);*/
    border-radius: 3px;
    border: 1px solid rgb(200, 200, 200);
}
